<h3> Film Permits in NYC</h3>

I am interested in looking at the most-filmed neighborhoods in NYC. To do this, I will be looking at the film permits issued between 2012 - 2017.

<h3>The Preliminaries</h3>

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("Film_Permits.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47324 entries, 0 to 47323
Data columns (total 14 columns):
EventID              47324 non-null int64
EventType            47324 non-null object
StartDateTime        47324 non-null object
EndDateTime          47324 non-null object
EnteredOn            47324 non-null object
EventAgency          47324 non-null object
ParkingHeld          47324 non-null object
Borough              47324 non-null object
CommunityBoard(s)    47313 non-null object
PolicePrecinct(s)    47313 non-null object
Category             47324 non-null object
SubCategoryName      47324 non-null object
Country              47324 non-null object
ZipCode(s)           47313 non-null object
dtypes: int64(1), object(13)
memory usage: 5.1+ MB

<h3>Data Cleaning</h3> 
In this step I am getting rid of the columns unnecessary for this analysis, such as EventAgency, Country, CommunityBoard, PolicePrecinct

In [2]:
df = df.sort_values(df.columns[0], ascending="True") ## sort by EventId
df = df.reset_index(drop=True)
df = df.drop(["EventAgency","CommunityBoard(s)","PolicePrecinct(s)","Country"], axis=1) ## drop the unused categories

In [11]:
df.columns = ['id','event','start','end','enteredon','parkingheld','borough','category','subcategory','zipcode']
df.head(5)

,id,event,start,end,enteredon,parkingheld,borough,category,subcategory,zipcode
0,42069,Theater Load in and Load Outs,01/02/2012 07:00:00 AM,01/27/2012 10:00:00 PM,12/07/2011 04:38:54 PM,WEST 44 STREET between 7 AVENUE and 8 AVENUE,Manhattan,Theater,Theater,10036
1,42287,Shooting Permit,01/05/2012 01:00:00 PM,01/05/2012 11:30:00 PM,12/09/2011 02:08:35 PM,WEST 65 STREET between BROADWAY and WEST END...,Manhattan,Theater,Theater,10023
2,42581,Shooting Permit,01/03/2012 10:00:00 AM,01/03/2012 09:00:00 PM,12/14/2011 09:56:47 AM,"46 ROAD between 5 STREET and VERNON BOULEVARD,...",Queens,Television,Episodic series,11101
3,42727,Shooting Permit,01/03/2012 08:00:00 AM,01/03/2012 10:00:00 PM,12/15/2011 01:27:48 PM,22ND STREET between QUEENS PLAZA SOUTH and 43R...,Queens,Television,Episodic series,11101
4,42737,Theater Load in and Load Outs,01/02/2012 06:00:00 AM,01/18/2012 08:00:00 PM,12/15/2011 02:06:52 PM,WEST 46 STREET between 7 AVENUE and 8 AVENUE,Manhattan,Theater,Theater,10036

In [4]:
#df1 = df.assign(**{'zipcode':df['zipcode'].str.split(',')})

In [5]:
#df1.zipcode = df.zipcode.astype(int)
#df1.dtypes

In [7]:
#df.zipcode = map(int, df.zipcode)
df2 = pd.DataFrame(df.zipcode.str.split(',').tolist()) # split by comma and create new rows
df2 = df2.reset_index()[[0, 'id']] # reset index and remove invalid row 
#df2.columns = ['zipcode', 'id'] # rename columns
#df2 = df2[['id', 'zipcode']] # reorder columns to match df1
#df2

#df3 = pd.merge(df2, df1, left_on='id', right_on='id', suffixes=('', '_original')) # Left join df1 and df2 on id

#print(df1)
#print(df2)
#print(df3)

TypeError: object of type 'float' has no len()

In [6]:
x = float (1)
df1 = pd.DataFrame({'id': ['a', 'b', 'c'],
'neighbourhood': ['harlem', 'soho', 'manhattan'],
'residents': [x, 12342, 12433],
'zipcode': ['3000', '4000,4003', '3333,2222,3311']})

df2 = pd.DataFrame(df1.zipcode.str.split(',').tolist(), index=df1.id).stack() # split by comma and create new rows
df2 = df2.reset_index()[[0, 'id']] # reset index and remove invalid row 
df2.columns = ['zipcode', 'id'] # rename columns
df2 = df2[['id', 'zipcode']] # reorder columns to match df1


df3 = pd.merge(df2, df1, left_on='id', right_on='id', suffixes=('', '_original')) # Left join df1 and df2 on id

print(df1)
print(df2)
print(df3)

  id neighbourhood  residents         zipcode
0  a        harlem        1.0            3000
1  b          soho    12342.0       4000,4003
2  c     manhattan    12433.0  3333,2222,3311
  id zipcode
0  a    3000
1  b    4000
2  b    4003
3  c    3333
4  c    2222
5  c    3311
  id zipcode neighbourhood  residents zipcode_original
0  a    3000        harlem        1.0             3000
1  b    4000          soho    12342.0        4000,4003
2  b    4003          soho    12342.0        4000,4003
3  c    3333     manhattan    12433.0   3333,2222,3311
4  c    2222     manhattan    12433.0   3333,2222,3311
5  c    3311     manhattan    12433.0   3333,2222,3311